<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="style/style.css" />
        <title>Login</title>
    </head>
    <body>
        <form id="form" method="post">
            <h2>Login</h2>
    
            <div class="input">
                <input type="email" id="Email" required maxlength="50" name="email">
                <label for="">E-mail</label>
            </div><!--Email-->
    
            <div class="input">
                <input type="password" class="Senha" id="Senha" required minlength="8" name="senha">
                <label for="Senha">Senha</label>
            </div><!--Senha-->
            
            <button type="submit" onclick="entrar(event)" id="btn">Entrar</button>

        </form>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js" integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
            function entrar (e) {
                e.preventDefault();

                let login = document.getElementById('Email').value;
                let password = document.getElementById('Senha').value;
                let pessoa = {email: login, senha: password}
                console.log(pessoa)

                axios.post('https://3001-khrir-zap2-cg5841blzcv.ws-us34.gitpod.io/login', pessoa)
                    .then(function (response) {
                        console.log(response.data);
                        if(response.data.status === 200){
                            // alert('O pai tá on');
                            window.location.assign('/chat');
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                        alert('Ih, sujou');
                    })
            }
        </script>
    </body>
</html>